<style>
.product-usp-icons-small {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1080px) {
  .product-usp-icons-small {
    flex-direction: row;
  }
}

.product-usp-icons-small .product-usp-icon {
  width: 1rem;
  height: 1rem;
}

.product-usp {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-usp-icons-small .product-usp > span {
  font-size: .75rem;
  margin-left: .5rem;
}
</style>

<div class="product-usp-icons-small">
  <div class="product-usp">
    <img class="product-usp-icon" src="{{'product-usp-planet-friendly.svg' | asset_url}}" alt="">
    <span>Planet-friendly</span>
  </div>
  <div class="product-usp">
    <img class="product-usp-icon" src="{{'product-usp-local.svg' | asset_url}}" alt="">
    <span>Locally produced</span>
  </div>
  <div class="product-usp">
    <img class="product-usp-icon" src="{{'product-usp-recycle.svg' | asset_url}}" alt="">
    <span>100% Recycable</span>
  </div>
  <div class="product-usp">
    <img class="product-usp-icon" src="{{'product-usp-taste.svg' | asset_url}}" alt="">
    <span>Ridiculously tasty</span>
  </div>
</div>
