<style>
.product-usp-icons {
  display: grid;
  justify-content: center;
}

@media (min-width: 768px) {
  .product-usp-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
  }
}

.product-usp-icon {
  width: 36px;
  height: 36px;
  margin-right: .75rem;
}

.product-usp {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product-usp > span {
  margin-left: .5rem;
  text-transform: uppercase;
  font-weight: bold;
}
</style>

{%- if type == "adult-s" -%}
  <!-- icon-color: dark -->
    {% assign planetIcon = 'product-usp-planet-friendly.svg' %}
    {% assign localIcon = 'product-usp-local.svg' %}
    {% assign recycleIcon = 'product-usp-recycle.svg' %}
    {% assign tastyIcon = 'product-usp-taste.svg' %}

  {%- elsif type == "adult-l" or type == "puppy" -%}
  <!-- icon-color: light -->
  {% assign planetIcon = 'product-usp-planet-friendly-dark.svg' %}
  {% assign localIcon = 'product-usp-local-dark.svg' %}
  {% assign recycleIcon = 'product-usp-recycle-dark.svg' %}
  {% assign tastyIcon = 'product-usp-taste-dark.svg' %}

  {%- else -%}
  <!-- icon-color: dark -->
    {% assign planetIcon = 'product-usp-planet-friendly.svg' %}
    {% assign localIcon = 'product-usp-local.svg' %}
    {% assign recycleIcon = 'product-usp-recycle.svg' %}
    {% assign tastyIcon = 'product-usp-taste.svg' %}
{%- endif -%}

<div class="product-usp-icons">
  <div class="product-usp">
    <img class="product-usp-icon" src="{{ planetIcon | asset_url}}" alt="">
    <span>Planet-friendly</span>
  </div>
  <div class="product-usp">
    <img class="product-usp-icon" src="{{ localIcon | asset_url}}" alt="">
    <span>Locally produced</span>
  </div>
  <div class="product-usp">
    <img class="product-usp-icon" src="{{ recycleIcon | asset_url}}" alt="">
    <span>100% Recycable</span>
  </div>
  <div class="product-usp">
    <img class="product-usp-icon" src="{{ tastyIcon | asset_url}}" alt="">
    <span>Ridiculously tasty</span>
  </div>
</div>
