<style>
.faq-content-section__content-wrap {
  max-width: 740px;
  margin: 0 auto;
}
</style>

<div class="faq-content-section__inner">
  <div class="page-width">
    <div class="faq-content-section__content-wrap">

        <h2>{{section.settings.content-title}}</h2>
      {%- for block in section.blocks -%}
         {%- if block.type == "faq" -%}
          <h3>{{block.settings.question}}</h3>
          <p>{{block.settings.answer}}</p>
         {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{%- schema -%}
{
  "name": "FAQ Content section",
  "tag": "section",
  "class": "faq-content-section",
  "presets": [
    {
      "name": "FAQ Content Section"
    }
  ],
  "settings": [
    {
      "type": "text",
      "label": "Content Title",
      "id": "content-title"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ Block",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ]
}
{%- endschema -%}
