<style>
  .instagram-link-inner {
    display: flex;
    justify-content: center;
    padding-top: 0 !important;
    margin-top: -2rem;
  }

  @media (min-width: 768px) {
    .instagram-link-inner {
      margin-top: -5rem;
    }
  }

</style>

<div class="instagram-link-inner section-padding">
<a class="button button-secondary" href="{{section.settings.instagram_url}}" target="_blank">Follow us on Instagram</a>
</div>

{% schema %}
{
  "name": "Instagram Link",
  "tag": "div",
  "class": "instagram-link-section",
  "presets": [
    {
      "name": "Instagram Link"
    }
  ],
  "settings": [
    {
      "type":"text",
      "label": "Instagram Page URL",
      "id": "instagram_url",
      "default": "https://instagram.com"
    }
  ]
}
{% endschema %}
