{{ 'video-section.css' | asset_url | stylesheet_tag }}

<div class="video-section-inner">
  <video class="video-section__video" src="{{section.settings.video_url}}" controls ></video>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "video-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "text",
      "id": "video_url",
      "default": "https://gutsy-website.s3.eu-west-3.amazonaws.com/UI_VID_FULL_HQ.mp4",
      "label": "t:sections.video.settings.video_url.label",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
  {% endschema %}
