.social-media-icon-list {
  display: none;
  align-items: center;
  justify-content: center;
  float: right;
}

.social-media-icon-list > a > svg {
  width: 1rem;
  height: 1rem;
  color: rgba(var(--color-foreground));
}

.social-media-icon-list > a {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .social-media-icon-list {
    display: flex;
  }
}
