.subscriptions-info__card {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscriptions-info__card-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscriptions-info__card-heading > svg {
  margin-bottom: 1rem;
  width: 2rem;
  height: 2rem;
}

.subscriptions-info__card-heading > h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .subscriptions-info__card-heading > h2 {
    font-size: 2rem;
  }

  .subscriptions-info__card-heading {
    flex-direction: row;
  }

  .subscriptions-info__card > svg {
    margin-bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 1080px) {
  .subscriptions-info-section__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-column-gap: 4rem;
  }

  .section-subscriptions-info-inner > .page-width {
    text-align: center;
  }

  .subscriptions-info-section__right {
    padding-left: 2rem;
  }

  .subscriptions-info-section__left h1 {
    margin-bottom: 3rem;
  }

  .subscriptions-info-section__left .button-secondary {
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 1440px) {
}
