.about-page-section-2__content-wrap {
  max-width: 640px;
  margin: 0 auto;
}

.about-page-section-2__team {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-page-section-2__content-wrap > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.about-page-section-2__images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  flex-direction: column;
}

.about-page-section-2__team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  grid-row-gap: 1rem;
}

.team-member__img-wrap {
  height: 200px;
  width: 200px;
  position: relative;
  cursor: crosshair;
}

.about-page-section-2__grid {
  display: grid;
  padding: 1rem 0;
}

.about-page-section-2__content-wrap {
  padding: 2rem 0;
}

.about-page-section-2__grid-left > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-page-section-2__grid-left {
  width: 100%;
  height: 350px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.team-member__img-wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.team-member__primary-img {
  border-radius: 50%;
}

.team-member__secondary-img {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.team-member__secondary-img.show {
  opacity: 1;
  pointer-events: auto;
}

.team-member__text-content {
  text-align: center;
  padding: 0 2rem;
}

.about-page-section-2__team.col-3 {
  grid-template-columns: 1fr;
}

.about-page-section-2__heading {
  text-align: center;
  margin-bottom: 4rem;
}

.about-page-section-2__team-heading {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .about-page-section-2__grid {
    grid-template-columns: 1fr 1fr;
  }

  .about-page-section-2__content-wrap {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-page-section-2__images {
    flex-direction: row;
  }

  .about-page-section-2__team.col-2 {
    grid-template-columns: 1fr 1fr;
    max-width: 1080px;
    margin: 0 auto;
  }

  .about-page-section-2__team.col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-page-section-2__image {
    margin-top: 0rem;
  }

  .about-page-section-2__team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-page-section-2__grid-left {
    width: 100%;
    height: 450px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
