.general-benefits-section__headings {
  text-align: center;
}

.general-benefits-section__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
}

.general-benefits-section__card-heading {
  display: flex;
  align-items: center;
}

.general-benefits-section__grid {
  margin-top: 4rem;
}

.general-benefits-section__card-heading > svg {
  margin-right: 1rem;
}

.general-benefits-section__card > p {
  margin-left: 4rem;
}

@media screen and (min-width: 768px) {
  .general-benefits-section__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
  }
}
