.product-buy-section {
  background-color: #fbedda;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.buy-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buy-section-content > h1 {
  color: #f47f36;
  margin-bottom: 0.5rem;
}

.buy-section-content > h3 {
  text-transform: uppercase;
  color: #1a3c32;
  margin-bottom: 60px;
}

@media screen and (min-width: 1080px) {
  .product-buy-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}
