.homepage-usp-section__left,
.homepage-usp-section__right {
  text-align: center;
}

.homepage-usp-section__left-image {
  max-width: 100%;
  height: auto;
}

.homepage-usp__card {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homepage-usp__card-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-usp__card-heading > svg {
  margin-bottom: 1rem;
  width: 2rem;
  height: 2rem;
}

.homepage-usp__card-heading > h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .homepage-usp__card-heading > h2 {
    font-size: 2rem;
  }

  .homepage-usp__card-heading {
    flex-direction: row;
  }

  .homepage-usp__card-heading > svg {
    margin-bottom: 0rem;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .homepage-usp__card {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1080px) {
  .section-homepage-usp-inner__grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .homepage-usp__card {
    align-items: flex-start;
    text-align: left;
    padding: 0;
  }

  .homepage-usp__card > p {
    margin-left: 3.5rem;
  }

  .homepage-usp-section__right {
    padding-left: 2rem;
    text-align: left;
  }

  .homepage-usp-section__right > h1 {
    margin-bottom: 3rem;
  }

  .homepage-usp-section__right > .button-secondary {
    margin-left: 3.5rem;
  }
}
